streamlit==1.36.0
pillow==10.4.0
torch==2.2.0+cpu
torchvision==0.17.0+cpu
transformers==4.41.0
python-dotenv==1.0.1
google-generativeai==0.3.0
--extra-index-url https://download.pytorch.org/whl/cpu
